body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input, select, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    cursor: pointer;
  }
  
  #convertedTemperature {
    margin-top: 20px;
    font-size: 18px;
  }
  